<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Your Grades Here!</title>
    <h1>Calculate your grades for Leaving Cert 2020 here!</h1>
</head>
<body>
    <form method="POST">
        <label for="Name">Name:</label>
    <input name="Name">
        <br>
        <br>
    <fieldset>
          <legend>Please Choose Your Subject</legend>
          <p>
             <label>Subject list</label>
             <select name = "myList">
               <option value = "English">English</option>
               <option value = "Irish">Irish</option>
               <option value = "Maths">Maths</option>
               <option value = "Physics">Physics</option>
               <option value = "Chemistry">Chemistry</option>
               <option value = "Biology">Biology</option>
               <option value = "French">French</option>
               <option value = "German">German</option>
               <option value = "Spanish">Spanish</option>
               <option value = "History">History</option>
               <option value = "Geography">Geography</option>
             </select>
          </p>
       </fieldset>
        <br>
        <br>
        <input type="submit" value="Submit Exam">
</form>

</body>
</html>
